.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  color: #32425C;
  background-color: #ffffff;
}

header {
  height: 320px;
  background-color: #F1F5F7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-top {
  height: 42px;
  background-color: #32425C;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header-logo a:active rect {
  fill: #BA2732;
}

.header-logo svg {
  width: 220px;
  height: 47px;
  float: left;
}

.search-and-nav {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-and-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.form-search:hover svg {
  opacity: 1;
}

/* Почему hover работает, а focus нет!? */
.form-search:hover path {
  fill: red;
}

.search-field {
  width: 270px;
  height: 42px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 40px;
}

input[type=search]:focus {
  background-color: #ffffff;
  color: #000000;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
 }

 input[type="search"]::-moz-placeholder {
  color: #ffffff;
 }

input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
 }

input[type="search"]:focus::-moz-placeholder {
  color: #000000;
 }

label {
  color: rgba(0, 0, 0, 0);
}

.user-nav {
  /* Удалить если что высоту */
  height: 42px;
  width: 450px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  height: 42px;
  align-items: center;
}

.header-nav-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.header-nav-item:first-child a {
  padding: 9px 24px 9px 43px;
}

.header-nav-item:nth-child(2) a {
  padding: 9px 32px 9px 43px;
}

.header-nav-item:last-child a {
  padding: 9px 16px 9px 19px;
  background-color: #63A63E;
}

.header-nav-item:last-child a:hover {
  padding: 9px 16px 9px 19px;
  background-color: #5FBB2D;
}

.header-nav-item:not(:last-child) a:active {
  background-color: #161D29;
}

.header-nav-item:last-child a:active {
  background-color: #63A63E;
  opacity: 0.5;
}

.header-nav-item svg {
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: 20px;
}

.header-nav-item:hover svg {
  opacity: 1;
}

/* .header-middle {
  margin-top: 20px;
} */

.header-middle-line {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-middle-left-side {
  width: 197px;
  height: 71px;
  padding-right: 93px;
  margin-left: auto;
}

.header-middle-left-side h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  line-height: 23px;
  font-size: 16px;
  word-wrap: break-word;
  color: #EE3643;
}

.header-middle-center-side {
  margin-top: 49px;
  margin-right: 69px;
  /* margin-bottom: 10px; */
  position: relative;
  box-sizing: border-box;
}

.header-middle-center-side a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #EE3643;
  padding: 7px 50px 8px 74px;
  border: 3px solid #FFFFFF;
}

.header-middle-center-side p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425C;
  margin-bottom: 20px;
}

.header-middle-center-side svg {
  position: absolute;
  left: 44px;
  top: 5px;
}

.header-middle-right-side a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: white;
  text-align: center;
  position: relative;
}

.header-middle-right-side {
  margin-top: -2px;
}

.header-middle-right-side a:first-child {
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}

.header-middle-right-side a:last-child {
  padding: 12px 24px;
}

.header-middle-right-side a:first-child svg {
  position: absolute;
  left: 21px;
  top: 15px;
}

.header-middle-right-side a:hover {
  color: #EE3643;
}

.header-middle-right-side a:active {
  color: #C5C5C5;
}

.header-middle-right-side a:first-child:hover path {
  fill: #3D546F;
}

.header-middle-right-side a:first-child:active path {
  fill: #C5C5C5;
}

.header-bottom {
  margin-top: 10px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32425C no-repeat;
  box-shadow: inset 0px -5px 0px #293449;
  height: 60px;
}

/* .navigation-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

/* li.navigation-item > a {
  display: block;
} */

.navigation-list a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 18px 25px;
  color: #ffffff;
}

.navigation-list a:hover {
  background-color: #293449;
}

.navigation-list a:active {
  background-color: #1D2739;
  opacity: 0.5;
}

/* .navigation-list a:active {
  background-color: #1D2739;
} */

.navigation-list li:first-child {
  padding-left: 27px;
}

.navigation-list li:last-child {
  padding-right: 27px;
}

.services {
  padding-top: 59px;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.services-list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.services-item-materials {
  background-color: #FFBF47;
}

.services-item-tools {
  background-color: #3BBCE3;
}

.services-item-technic {
  background-color: #DC91D8;
}

.services-item-sale {
  background-color: #8ED78F;
}

.services-item-delivery {
  background-color: #FFBF47;
}

.services-item-slider {
  background-image: url("/img/png/slider-background.png");
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.header-popular-products {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 89px;
  background-color: #F9F5F0;
  margin-top: 57px;
  margin-bottom: 20px;
  position: relative;
}

.header-popular-products p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 28px;
  color: #32425C;
}

.header-popular-products a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  padding-left: 28px;
  color: #ffffff;
  padding: 11px 24px 9px;
  background-color: #EE3643;
  position: absolute;
  right: 14px;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  height: 318px;
}

.popular-products-item {
  border: 2px solid #EAEAEA;
  position: relative;
  margin-right: 20px;
}

.popular-products-item:last-child {
  margin-right: 0;
}

.popular-products-item div:first-of-type {
  height: 178px;
}

.popular-products-item div:last-of-type {
  height: 140px;
}

.popular-products-item h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  align-content: center;
  margin-top: 12px;
}

.popular-products-item div:last-of-type p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A9A9A9;
  align-content: center;
  position: absolute;
  left: 75px;
  bottom: 49px;
}

.popular-products-item div:last-of-type a {
  background: url(/img/png/price-button.png) no-repeat center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 10px 44px 10px 32px;
  position: absolute;
  left: 44px;
  bottom: 19px;
}

.first-item-top-side img {
  position: absolute;
  top: 6px;
  left: 18px;
}

.two-item-top-side img {
  position: absolute;
  top: 29px;
  left: 40px;
}

.three-item-top-side img {
  position: absolute;
  top: 22px;
  left: 33px;
}

.four-item-top-side img {
  position: absolute;
  top: 29px;
  left: 40px;
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands-list li {
  width: 220px;
  height: 145px;
}

.header-popular-brands {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 89px;
  background-color: #F9F5F0;
  margin-top: 57px;
  margin-bottom: 20px;
  position: relative;
}

.header-popular-brands p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 28px;
  color: #32425C;
}

.header-popular-brands a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  padding-left: 28px;
  color: #ffffff;
  padding: 11px 38px 9px 39px;
  background-color: #EE3643;
  position: absolute;
  right: 14px;
}