body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  color: #32425C;
  background-color: #ffffff;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: 192px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: #EE3643;
}

.btn:hover {
  background-color: #CA2C37;
}

.btn:active {
  background-color: #BA2732;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 320px;
  background-color: #F1F5F7;
}

.header-top {
  height: 42px;
  background-color: #32425C;
  position: relative;
}

.header-logo svg {
  width: 220px;
  height: 47px;
  position: absolute;
  left: 0;
}

.header-logo a:active rect {
  fill: #BA2732;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.form-search {
  position: absolute;
  left: 220px;
  top: 0;
}

.form-search svg {
  position: absolute;
  fill: white;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.form-search:hover svg {
  opacity: 1;
}

input:focus ~ svg {
  fill: #EE3643;
  opacity: 1;
}

.search-field {
  width: 270px;
  height: 42px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 40px;
}

input[type=search]:focus {
  background-color: #ffffff;
  color: #000000;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
 }

 input[type="search"]::-moz-placeholder {
  color: #ffffff;
 }

input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
 }

input[type="search"]:focus::-moz-placeholder {
  color: #000000;
 }

.user-nav {
  height: 100%;
  width: 450px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-item a {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.header-nav-item:first-child a {
  padding: 9px 24px 9px 43px;
}

.header-nav-item:nth-child(2) a {
  padding: 9px 32px 9px 43px;
}

.header-nav-item:last-child a {
  padding: 9px 16px 9px 19px;
  background-color: #63A63E;
}

.header-nav-item:last-child a:hover {
  padding: 9px 16px 9px 19px;
  background-color: #5FBB2D;
}

.header-nav-item:not(:last-child) a:active {
  background-color: #161D29;
}

.header-nav-item:last-child a:active {
  background-color: #63A63E;
  opacity: 0.5;
}

.header-nav-item svg {
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 22px;
}

.header-nav-item:hover svg {
  opacity: 1;
}

.header-middle {
  margin-top: 20px;
}

.header-middle-line {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-middle-left-side {
  width: 197px;
  height: 71px;
  padding-right: 93px;
  margin-top: 20px;
  margin-left: auto;
}

.header-middle-left-side h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  line-height: 23px;
  font-size: 16px;
  color: #EE3643;
}

.header-middle-center-side {
  margin-top: 49px;
  margin-right: 69px;
  position: relative;
}

.header-middle-center-side a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #EE3643;
  padding: 7px 50px 8px 74px;
  border: 3px solid #FFFFFF;
}

.header-middle-center-side p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425C;
  padding-top: 10px;
  margin-bottom: 10px;
}

.header-middle-center-side svg {
  position: absolute;
  left: 44px;
  top: 5px;
}

.header-middle-right-side {
  margin-top: 10px;
}

.header-middle-right-side a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: white;
  text-align: center;
  position: relative;
}

.header-middle-right-side a:first-child {
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}

.header-middle-right-side a:last-child {
  padding: 12px 24px;
}

.header-middle-right-side a:first-child svg {
  position: absolute;
  left: 21px;
  top: 15px;
}

.header-middle-right-side a:hover {
  color: #EE3643;
}

.header-middle-right-side a:active {
  color: #C5C5C5;
}

.header-middle-right-side a:first-child:hover path {
  fill: #3D546F;
}

.header-middle-right-side a:first-child:active path {
  fill: #C5C5C5;
}

.header-bottom {
  margin-top: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32425C no-repeat;
  box-shadow: inset 0px -5px 0px #293449;
  height: 60px;
}

.navigation-list a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 18px 25px;
  color: #ffffff;
}

.navigation-list a:hover {
  background-color: #293449;
}

.navigation-list a:active {
  background-color: #1D2739;
  opacity: 0.5;
}

.navigation-list li:first-child {
  padding-left: 27px;
}

.navigation-list li:last-child {
  padding-right: 27px;
}

.services {
  padding-top: 59px;
  height: 409px;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.services-list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.services-item-materials {
  background-color: #FFBF47;
}

.services-item-tools {
  background-color: #3BBCE3;
}

.services-item-technic {
  background-color: #DC91D8;
}

.services-item-sale {
  background-color: #8ED78F;
}

.services-item-delivery {
  background-color: #FFBF47;
}

.services-item-slider {
  background-image: url("/img/png/sliders/slides/slider-background.png");
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.materials-right-side {
  overflow: hidden;
}

/* Красный стикер с надписью: "NEW" */
.red-sticker::after {
  content: "NEW";
  display: inline-block;
  vertical-align: middle;
  padding: 6px 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #EE3643;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -25px;
}

.services-list div[class*="side"] {
  width: 150px;
  height: 123px;
  position: relative;
}

.services-list div[class*="left-side"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 23px;
}

.services-list div[class*="right-side"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list h3 {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.services-btn {
  display: inline-block;
  width: 135px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 14px;
}

.services-btn:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.services-btn:active {
  background-color: rgba(169, 169, 169, 0.3);;
}

.slider {
  width: 620px;
  height: 266px;
}

.slider-top {
  width: 620px;
  height: 104px;
  position: relative;
}

.slider-bottom {
  width: 620px;
  height: 162px;
  position: relative;
}

.services-item-slider h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: 23px;
  left: 24px;
}

.services-item-slider p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  left: 24px;
}

.services-item-slider a {
  position: absolute;
  bottom: 27px;
  left: 24px;
}

.slider-control {
  position: relative;
}

.btn-arrow {
  display: block;
  position: absolute;
  background-color: transparent;
  fill: white;
  border: none;
}

.slider-control a:first-child {
  top: -144px;
  left: 16px;
}

.slider-control a:last-child {
  top: -144px;
  left: 579px;
}

.header-popular-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  background-color: #F9F5F0;
  margin-top: 57px;
  margin-bottom: 20px;
  position: relative;
}

.popular-p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 28px;
  color: #32425C;
}

.header-popular-products a {
  margin-right: 14px;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  height: 318px;
}

.popular-products-item {
  border: 2px solid #EAEAEA;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
}

.popular-products-item:last-child {
  margin-right: 0;
}

.popular-products-item div:first-of-type {
  height: 178px;
}

.popular-products-item div:last-of-type {
  height: 140px;
}

.popular-products-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  align-content: center;
  margin-top: 12px;
}

.popular-products-item div:last-of-type p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A9A9A9;
  align-content: center;
  position: absolute;
  left: 75px;
  bottom: 65px;
}

.popular-products-item div:last-of-type a {
  background: url("/img/png/others/price-button.png") no-repeat center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 10px 44px 10px 32px;
  position: absolute;
  left: 44px;
  bottom: 19px;
}

.first-item-top-side img {
  position: absolute;
  top: 6px;
  left: 18px;
}

.two-item-top-side img {
  position: absolute;
  top: 29px;
  left: 40px;
}

.three-item-top-side img {
  position: absolute;
  top: 22px;
  left: 33px;
}

.four-item-top-side img {
  position: absolute;
  top: 29px;
  left: 40px;
}

.header-popular-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-top: 57px;
  margin-bottom: 20px;
  background-color: #F9F5F0;
  position: relative;
}

.header-popular-brands a {
  margin-right: 14px;
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands-list li {
  width: 220px;
  height: 145px;
  border: 2px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.popular-brands-list li:nth-of-type(4n) {
  margin-right: 0;
}

.popular-brands-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.popular-brands-item a:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-brands-item a:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.service-and-delivery {
  height: 522px;
  padding-top: 64px;
  background-color: #F1F5F7;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.service-and-delivery h2,
.service-and-delivery h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.service-and-delivery p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  padding-top: 25px;
  color: #000000;
}

.services-top {
  height: 124px;
}

.services-bottom {
  width: inherit;
  height: 332px;
  position: relative;
}

.services-bottom::after {
  content: "";
  width: 10px;
  height: 279px;
  background: url("/img/png/others/shadow-for-label.png") no-repeat;
  position: absolute;
  left: 230px;
  top: 0px;
}

.services-bottom label {
  display: inline-block;
  background-color: #32425C;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  width: 218px;
  height: 46.5px;
  padding-top: 13.5px;
  padding-left: 22px;
  cursor: pointer;
  position: absolute;
}

.services-bottom label:hover {
  background-color: #293449;
}

.services-bottom label:not(:first-of-type) {
  box-shadow: inset 0px 1px 0px #405069;
}

.services-bottom-delivery {
  left: 0;
  top: 51px;
}

.services-bottom-warranty {
  left: 0;
  top: 111px;
}

.services-bottom-credit {
  left: 0;
  top: 171px;
}

#delivery-id:checked ~ .services-bottom-delivery,
#warranty-id:checked ~ .services-bottom-warranty,
#credit-id:checked ~ .services-bottom-credit {
  color: #32425C;
  background-color: #ffffff;
}

#delivery-id:checked ~ .delivery-slide {
  visibility: visible;
}

#warranty-id:checked ~ .guarantee-slide {
  visibility: visible;
}

#credit-id:checked ~ .credit-slide {
  visibility: visible;
}

.slide-style {
  width: 619px;
  height: 283px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.delivery-slide p {
  max-width: 275px;
}

.guarantee-slide p {
  max-width: 320px;
}

.credit-slide p {
  max-width: 280px;
  padding-bottom: 26.5px;
}

.delivery-slide {
  visibility: hidden;
}

.guarantee-slide {
  visibility: hidden;
}

.credit-slide {
  visibility: hidden;
}

.slide-style img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-company-and-map {
  width: 100%;
  height: 356px;
  padding: 70px 0;
}

.about-company-and-map h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 24px;
  color: #000000;
}

.about-company-and-map p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.position-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-company {
  width: 460px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-company p:first-of-type {
  width: 460px;
}

.about-company p:nth-of-type(2) {
  width: 390px;
  padding-bottom: 1px;
}

.about-company p.red-line {
  position: relative;
  text-indent: 37px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 12px;
  color: #000000;
}

.about-company p.red-line:last-of-type {
  padding-bottom: 20px;
}

.about-company .red-line::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #EE3643;
  left: 0;
  top: 10px;
}

.about-company a {
  width: 220px;
  margin-right: auto;
}

.address-and-map {
  width: 300px;
  height: 356px;
}

.address-and-map p {
  width: 181px;
  padding-bottom: 32px;
}

button.map {
  width: 300px;
  margin-bottom: 27px;
  border: none;
  cursor: pointer;
}

.address-and-map .btn {
  width: 300px;
  border: none;
  cursor: pointer;
}

button.map img {
  width: 100%;
}

.footer-top-background,
.footer-middle-background {
  background-color: #32425C;
}

.footer-bottom-background {
  background-color: #293449;
}

.footer-top,
.footer-middle,
.footer-bottom,
.main-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  height: 68px;
  position: relative;
}

.footer-middle {
  height: 116px;
  position: relative;
}

.footer-bottom {
  height: 107px;
  position: relative;
}

footer li:not(:last-child) {
  margin-right: 58px;
}

footer li a,
footer p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-top img {
  position: absolute;
  left: 0;
  top: 0;
}

.logo-link {
  margin-right: 174px;
}

.footer-top ul {
  padding-top: 26px;
}

.footer-top a {
  color: #F1F5F7;
}

.footer-middle a,
address a {
  color: #FFD180;
}

.footer-top a:hover,
.footer-middle a:hover,
address a:hover {
  text-decoration: underline;
}

.footer-top a:active,
.footer-middle a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-middle p {
  color: #F3F7F9;
  margin-right: 80px;
  margin-top: -30px;
}

.footer-middle-list {
  margin-top: -55px;
}

.footer-bottom p {
  width: 330px;
  color: #ffffff;
  margin-right: 162px;
}

.footer-social {
  width: 132px;
  height: 44px;
  position: relative;
}

.footer-social a {
  position: absolute;
}

.social-btn-vk {
  left: 0;
}

.social-btn-fb {
  left: 44px;
}

.social-btn-in {
  left: 88px;
}

.social-btn-vk:hover path:first-child,
.social-btn-fb:hover path:first-child,
.social-btn-in:hover path:first-child {
  fill: #EE3643;
}

address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-left: 118px;
}

address p:first-child {
  margin-right: 51px;
}

address a:active {
  color: #EE3643;
}